{% extends 'core/base.html' %}

{% block title %}Vehicles{% endblock %}

{% block content %}
<div class="container">
    <h2>Vehicle List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Make/Model</th>
                <th>Year</th>
                <th>License Plate</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.customer.name }}</td>
                <td>{{ vehicle.make }} {{ vehicle.model }}</td>
                <td>{{ vehicle.year }}</td>
                <td>{{ vehicle.license_plate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}