{% extends 'core/base.html' %}
{% block title %}Jobcards{% endblock %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h2 class="mb-0">Job Cards</h2>
        <a href="{% url 'jobcard_create' %}" class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 42px; height: 42px; font-size: 1.5rem;">
            <i class="fas fa-plus"></i>
        </a>
    </div>

    {% if jobcards %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Vehicle</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobcards %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.date }}</td>
                <td>{{ job.customer.name }}</td>
                <td>{{ job.vehicle.make }} {{ job.vehicle.model }}</td>
                <td>{{ job.get_job_status_display }}</td>
                <td>
                    <a href="{% url 'jobcard_detail' job.pk %}" class="btn btn-sm btn-info">View</a>
                    <a href="{% url 'jobcard_edit' job.pk %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'jobcard_delete' job.pk %}" class="btn btn-sm btn-danger"onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>No job cards found.</p>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}